@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

.warning {
    background-color: #af1d1d;
    color: #fff;
    padding: 15px;
}

input[type=text],
input[type=password] {
    box-sizing: border-box;
}

.text-title {
    font-size: 16px;
    font-weight: bold;
}

.text-paragraph {
    font-size: 13px;
}

.error-msg {
    color: #af1d1d;
}

.notify-bell {
    padding: 4px;
}

input {
    border: 1px solid #777;
    padding: 10px;
}

#servername, #serverpassword {
    padding-left: 42px;
}

#servername {
    background: no-repeat center left 12px/24px url("images/dog-tag.png");
}

#serverpassword {
    background: no-repeat center left 16px/16px url("images/key.png");
}

header {
    background-color: #1995AD;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

footer {
    background-color: #E4E4E5;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 150px;
    max-width: 1300px;
}

footer .footer-content, footer .footer-footer {
    padding: 15px 30px;
}

footer .footer-footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 15px 30px;
}

footer .footer-footer a {
    color: #A1D6E2;
}

footer .footer-footer a:visited, footer .footer-footer a:hover {
    color: #1995AD;
}

.github-strip, .server-panel, .server-options-panel {
    max-width: 1300px;
    margin: auto;
    padding: 0vh 3vw;
}

.github-strip div, .server-panel div, .server-options-panel div {
    margin: 10px 0px;
}

.server-options-panel {
    margin-top: 5vh;
}

.github-strip-wrapper {
    background-color: #A1D6E2;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.server-panel {
    text-align: center;
}

.input-area .input-row label {
    display: block;
    margin-bottom: 5px;
}

.input-area .input-row input {
    display: inline-block;
    width: 100%;
}

.server-url input {
    width: 50%;
}

.video-wrapper {
    background-color: #E4E4E5;
}

.bottom-panel {
    background-color: #E4E4E5;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.bottom-panel .close-wrapper {
    background-color: black;
}

.bottom-panel .close-wrapper .bottom-panel-close {
    background: #af1d1d;
    padding: 6px;
}

.bottom-panel .close-wrapper .bottom-panel-close:hover {
    color: black;
}

.bottom-panel .close-wrapper button {
    background: none;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.bottom-panel .close-wrapper button:hover {
    color: #888;
}

.bottom-panel .close-wrapper button:disabled {
    color: #888;
}

.bottom-panel .close-wrapper button:disabled:hover {
    cursor: default;
}

.bottom-panel .content {
    overflow-y: scroll;
    flex-grow: 1;
}

.expand-appear {
    height: 0px;
}

.expand-appear.expand-appear-active {
    height: 150px;
    transition: height 300ms ease-in-out;
}

.expand-enter {
    height: 0px;
}

.expand-enter.expand-enter-active {
    height: 150px;
    transition: height 300ms ease-in-out;
}

.expand-enter-done {
    height: 150px;
}

.expand-exit {
    height: 150px;
}

.expand-exit.expand-exit-active {
    height: 0px;
    transition: height 300ms ease-in-out;
}

.expand-exit-done {
    height: 0px;
}

button {
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

button:hover {
    cursor: pointer;
}

.solid {
    -webkit-box-shadow: 0 3px 4px #aaa;
    -moz-box-shadow: 0 3px 4px #aaa;
    box-shadow: 0 3px 4px #aaa;
    background-color: #000;
    padding: 10px 30px;
}

.solid:hover {
    -webkit-box-shadow: 0 3px 7px #555;
    -moz-box-shadow: 0 3px 7px #555;
    box-shadow: 0 3px 7px #555;
    background-color: #1995AD;
}

.github-link {
    color: black;
    text-decoration: none;
}

.github-link:hover {
    color: #1995AD;
}
