// xxxxxxxxxxxxxxxxxxxxxxxxxx
// General Purpose Classes
// xxxxxxxxxxxxxxxxxxxxxxxxxx
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$primary-colour: #A1D6E2;
$primary-heavy:  #1995AD;
$background-colour: #E4E4E5;
$background-heavy: #BCBABE;
$primary-red: #af1d1d;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

.warning{
    background-color: $primary-red;
    color: #fff;
    padding: 15px;
}

input[type=text],
input[type=password] {
    box-sizing : border-box;
}

.text-title {
    font-size: 16px;
    font-weight: bold;
}

.text-paragraph { font-size: 13px; }
.error-msg{color: $primary-red;}
.notify-bell{
    padding: 4px;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Server options panel
// xxxxxxxxxxxxxxxxxxxxxxxxxx
input {
    border: 1px solid #777;
    padding:10px;
}
#servername, #serverpassword{padding-left: 42px;}
#servername{background: no-repeat center left 12px/24px url("images/dog-tag.png") ;}
#serverpassword{background: no-repeat center left 16px/16px url("images/key.png") ;}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Header Class
// xxxxxxxxxxxxxxxxxxxxxxxxxx

header{
    background-color: $primary-heavy;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Footer Class
// xxxxxxxxxxxxxxxxxxxxxxxxxx

footer {
    background-color: $background-colour;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 150px;
    max-width: 1300px;
    .footer-content, .footer-footer{padding: 15px 30px;}
    .footer-footer{
        background-color: black;
        color: white;
        font-size: 14px;
        padding: 15px 30px;
        a{color: $primary-colour};
        a:visited, a:hover{color: $primary-heavy};
    }
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Notification panel classes
// xxxxxxxxxxxxxxxxxxxxxxxxxx

.github-strip, .server-panel, .server-options-panel{
    max-width: 1300px;
    margin: auto;
    padding: 0vh 3vw;
    div{ margin: 10px 0px; }
}

.server-options-panel{margin-top: 5vh;}

.github-strip-wrapper{
    background-color: $primary-colour;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.server-panel{text-align: center;}

.input-area{
    .input-row{
        label{
            display: block;
            margin-bottom: 5px;
        }
        input{
            display: inline-block;
            width: 100%;
        }
    }
}

.server-url{ input{ width: 50%; } }

// Video Wrapper Style

.video-wrapper{background-color: $background-colour;}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Bottom Panel Styles
// xxxxxxxxxxxxxxxxxxxxxxxxxx

.bottom-panel{
    background-color: $background-colour;
    position: fixed;
    bottom: 0;
    // height: 150px;
    width: 100%;
    display: flex;
    flex-flow: column;
    .close-wrapper{
        background-color: black;
        .bottom-panel-close{
            background: $primary-red;padding: 6px;
            &:hover{color: black;}
        }
        button{
            background: none;
            color: white;
            text-decoration: none;
            margin-right: 15px;
            font-weight: bold;
            &:hover{color: #888;}
            &:disabled{
                color: #888;
                &:hover{cursor: default;}
            }
        }
    }
    .content{
        overflow-y: scroll;
        flex-grow : 1;
    }
}

// ----- ANIMATION -----
// When the pages load
.expand-appear { height: 0px; }
.expand-appear.expand-appear-active {
    height: 150px;
    transition: height 300ms ease-in-out;
}
// Being expanded
.expand-enter { height: 0px; }
.expand-enter.expand-enter-active {
    height: 150px;
    transition: height 300ms ease-in-out;
}
.expand-enter-done{
    height: 150px;
}
// Being compressed
.expand-exit { height: 150px; }
.expand-exit.expand-exit-active {
    height: 0px;
    transition: height 300ms ease-in-out;
}
.expand-exit-done { height: 0px; }


// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Button / Anchor Styles
// xxxxxxxxxxxxxxxxxxxxxxxxxx

button{
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    &:hover{ cursor: pointer; }
}

.solid{
    @include box-shadow(0, 3px, 4px, #aaa);
    background-color: #000;
    padding: 10px 30px;
    &:hover{
        @include box-shadow(0, 3px, 7px, #555);
        background-color: $primary-heavy;
    }
}

.github-link{
    color: black;
    text-decoration: none;
    &:hover{color: $primary-heavy;}
}
