// xxxxxxxxxxxxxxxxxxxxxxxxxx
// General Purpose Classes
// xxxxxxxxxxxxxxxxxxxxxxxxxx
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$primary-colour: #A1D6E2;
$primary-heavy:  #1995AD;
$background-colour: #F1F1F2;
$background-heavy: #BCBABE;
$primary-red: #af1d1d;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

.warning{
    background-color: $primary-red;
    color: #fff;
    padding: 15px;
}

input[type=text],
input[type=password] {
    box-sizing : border-box;
}

.text-title {
    font-size: 16px;
    font-weight: bold;
}

.text-paragraph { font-size: 13px; }
.error-msg{color: $primary-red;}
.notify-bell{
    padding: 4px;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Server options panel
// xxxxxxxxxxxxxxxxxxxxxxxxxx
input {
    border: 1px solid #777;
    padding:10px;
}
#servername, #serverpassword{padding-left: 42px;}
#servername{background: no-repeat center left 4px/32px url("images/dog-tag.png") ;}
#serverpassword{background: no-repeat center left 8px/24px url("images/key.png") ;}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Header Class
// xxxxxxxxxxxxxxxxxxxxxxxxxx

header{
    background-color: $primary-heavy;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Footer Class
// xxxxxxxxxxxxxxxxxxxxxxxxxx

footer {
    background-color: $background-heavy;
    padding: 15px 30px;
    margin: auto;
    margin-top: 5vh;
    max-width: 1300px;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Notification panel classes
// xxxxxxxxxxxxxxxxxxxxxxxxxx

.notification-panel, .server-panel, .server-options-panel{
    max-width: 1300px;
    margin: auto;
    padding: 0vh 3vw;
    div{ margin: 10px 0px; }
}

.server-options-panel{margin-top: 5vh;}

.notification-panel-wrapper{
    background-color: $primary-colour;
    padding: 20px;
    text-align: center;
}

.server-panel{text-align: center;}

.input-area{
    .input-row{
        label{
            display: block;
            margin-bottom: 5px;
        }
        input{
            display: inline-block;
            width: 100%;
        }
    }
}

.server-url{ input{ width: 50%; } }

//

.video-wrapper{background-color: $background-colour;}

// xxxxxxxxxxxxxxxxxxxxxxxxxx
// Button Styles
// xxxxxxxxxxxxxxxxxxxxxxxxxx

button{
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    &:hover{ cursor: pointer; }
}

.solid{
    @include box-shadow(0, 3px, 4px, #aaa);
    background-color: #000;
    padding: 10px 30px;
    &:hover{
        @include box-shadow(0, 3px, 7px, #555);
        background-color: $primary-heavy;
    }
}
