@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
body {
    font-family: 'Arimo', sans-serif;
}

.warning {
    background-color: #af1d1d;
    color: #fff;
    padding: 15px;
}

input[type=text],
input[type=password] {
    box-sizing: border-box;
}

.notification-panel, .server-panel, .server-options-panel {
    padding: 20px 16vw;
}

.notification-panel div, .server-panel div, .server-options-panel div {
    margin: 10px 0px;
}

.input-area .input-row label {
    display: block;
    margin-bottom: 5px;
}

.input-area .input-row input {
    display: inline-block;
    width: 100%;
}

.notification-panel {
    background-color: #A1D6E2;
}

.server-url input {
    width: 50%;
}

.video-wrapper {
    background-color: #F1F1F2;
}

button {
    border: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 5px;
}

.solid {
    -webkit-box-shadow: 0 3px 4px #aaa;
    -moz-box-shadow: 0 3px 4px #aaa;
    box-shadow: 0 3px 4px #aaa;
    background-color: #000;
    padding: 10px 30px;
}

.solid:hover {
    -webkit-box-shadow: 0 3px 7px #555;
    -moz-box-shadow: 0 3px 7px #555;
    box-shadow: 0 3px 7px #555;
    background-color: #1995AD;
}
